<h1>Projeto HttpClient</h1>

<h2>Meus repositórios do GitHub</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of gitHubRepos">
      <td>{{ repo.id }}</td>
      <td>{{ repo.full_name }}</td>
    </tr>
  </tbody>
</table>

<h2>
  BitCoins
  <button (click)="updateBitCoinRates()">Atualizar</button>
</h2>

<table>
  <thead>
    <tr>
      <th>Data / Hora</th>
      <th>USD</th>
      <th>EUR</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of this.bitCoin.bitCoinRates">
      <td>{{ rate.time.updated }}</td>
      <td>
        <span [innerHTML]="rate.bpi.USD.symbol"></span>
        {{ rate.bpi.USD.rate_float }}
      </td>
      <td>
        <span [innerHTML]="rate.bpi.EUR.symbol"></span>
        {{ rate.bpi.EUR.rate_float }}
      </td>
    </tr>
  </tbody>
</table>
